@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Euclid Circular B";
  }

  select {
    background: url(/images/chevron-bottom.webp) no-repeat 95% 60%;
    background-size: 20px;
  }
}
@layer components {
  .btn {
    @apply bg-customGreen py-[6px] px-4 text-white rounded-[3px] text-center hover:opacity-80 transition-opacity;
  }
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("/fonts/Euclid-Circular-B-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neutrif Pro";
  src: url("/fonts/Euclid-Circular-B-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
